# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python compiled
*.pyc

# C++ compiled
build/
cmake-build-debug/
cmake-build-release/

# IDE
.idea/

# from runs
*.params
evalbout.txt
evaluable.txt
latest_model
expts/
models/

# BERT
bert_graph.pb
uncased_L-12_H-768_A-12
bert_models/
